div img{
    width: 200px;
    height: 200px;
    margin: 10px;
}
.mood div {
    display: inline;
}
div.container {
    border: 1px solid ;
    width: 700px;
    padding: 10px;
}
div span {
    color: rgb(71, 71, 245);
}